<div class="container">
    <div class="row">
        <div class="col">
            <h5>{{project.name}}</h5>
        </div>
        <div class="col">
            <h5>Deadline: {{format_date project.deadline}}</h5>
        </div>
        <div class="col">
            <h5>Days Until Deadline:</h5>
        </div>
        <div class="col">
            <h5>Status: {{project.status}}</h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col s4">
            <div class="project-list">
                <h3>Your Team:</h3>
                <ul class="collapsible">
                    {{#each project.group_members}}
                    <li>
                        <div class="collapsible-header"><i class="fas fa-user"></i>{{this.full_name}}</div>
                        <div class="collapsible-body"><i class="fas fa-envelope"></i> {{this.email}}</div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="col s4">
            <h3>Create a Task:</h3>
            <form class="form new-project-form">
                <div class="form-group">
                    <label for="project-name">Title of Task:</label>
                    <input class="form-input" type="text" id="task-title" name="project-name" />
                </div>
                <div class="form-group">
                    <label for="project-name">Description of Task:</label>
                    <input class="form-input" type="text" id="task-description" name="project-name" />
                </div>
                <div class="form-group">
                    <div class="input-field col s12">
                        <select id="task_status">
                            <option disable>Task Status</option>
                            <option>To do</option>
                            <option>In Progress</option>
                            <option>Done</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="task-submit">Create Task</button>
                </div>
            </form>
        </div>

        <div class="col s4">
            <h3>Task List:</h3>
            <form action="#">
                {{#each project.tasks}}
                <label>
                    <input type="checkbox" id="checkbox" data-id="{{this.id}}" />
                    <span>{{this.title}}</span>
                    <p>Description: {{this.description}}</p>
                    <p>Status: {{this.status}}</p>
                </label>
                {{/each}}

            </form>

        </div>
    </div>

    <script src="/js/dashboard.js"></script>