<div class="row">
  <div class="col-auto">
    <h2 class="header">Welcome, {{user.full_name}}!</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s6">
      <div class="row">
        <h3 class="header">Create a New Project:</h3>
        <form class="form new-project-form">
          <div class="form-group">
            <label for="project-name">Name of Project:</label>
            <input class="form-input" type="text" id="project-name" name="project-name" />
          </div>
          <div class="form-group">
            <div class="input-field">
              <select multiple id="project-users">
                <option value="" disabled>Choose your Teammates</option>
                {{#each usersVar as |userAll|}}
                <option value="1">{{userAll.full_name}}</option>
                {{/each}}
              </select>
              <label>Add Teammates</label>
            </div>
          </div>
          <div class="form-group">
            <label for="your team">Deadline:</label>
            <input type="text" class="datepicker" id="project-deadline" />
          </div>
          <div class="form-group">
            <!-- Dropdown Trigger -->
            <div class="input-field col s12">
              <!-- Dropdown Structure -->
              <select id="project_status">
                <option disable selected>Project Status</option>
                <option>Not Started</option>
                <option>In Progress</option>
                <option>Complete</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="project-submit">Create</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col s6">
      <div class="project-list">
        <h3>Current Projects:</h3>

        <ul class="collapsible">
          {{#each user.user_projects}}
          <li>
            <div class="collapsible-header"><a href="/dashboard/{{this.id}}"><i
                  class="fas fa-laptop"></i></a>{{this.name}}<i data-id="{{this.id}}" class="fas fa-trash-alt"></i>
            </div>
            <div class="collapsible-body"><span>Deadline: {{format_date this.deadline}}</span></div>
          </li>
          {{/each}}
        </ul>
        <div class="col-md-4">
          {{!-- <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button> --}}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/profile.js"></script>